<footer class="footer">

  <p>
    © 2026 Héctor Andrés Quintero Silva
  </p>

  <div class="footer-links">

    <a
      href="https://github.com/hectorquinterosilva"
      target="_blank"
    >
      GitHub
    </a>

    <a
      href="https://www.linkedin.com/in/hector-andres-quintero-silva-208430139/"
      target="_blank"
    >
      LinkedIn
    </a>

    <a
      href="mailto:neohaq@hotmail.com"
    >
      Email
    </a>

  </div>

</footer>